/* 초기화면 css */
*{
    margin: 15px;
    
}
.welcome-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* orientation: vertical; */
    height: 100vh;
}

.welcome-animation{
    font-size: 30px;
    /* color: cornflowerblue; */
    opacity: 0;
    animation: fadeIn 2s ease-in forwards;
    font-weight: 800;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        color: cornflowerblue;
        opacity: 1;
    }
}

#startbtn{
    width: 160px;
    height: 60px;
    background-color: royalblue;

    /* text */
    font-weight: 900;
}
#startbtn:hover{
    background-color: #ffffff;
}